.Article {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  box-sizing: border-box;
  width: 100%;
  border: 10px;
  padding: 15px 15px 45px 15px;
}
@media only screen and (max-width: 599px) {
  .Article {
    grid-template-columns: auto;
    grid-template-rows: var(--frame-height) auto;
    padding: 10px;
    --frame-width: 206px;
    --frame-height: 116px;
  }
}
@media only screen and (min-width: 600px) {
  .Article {
    --frame-width: 412px;
    --frame-height: 232px;
  }
}
@media only screen and (min-width: 1024px) {
  .Article {
    --frame-width: 618px;
    --frame-height: 348px;
  }
}
.Article #content *:not(h1) {
  font-size: var(--base-font-size);
}
@media only screen and (max-width: 599px) {
  .Article #content *:not(h1) {
    font-size: calc(var(--base-font-size)*1.2);
  }
}
.Article #content h1 {
  margin: 0px 0px 20px 0px;
  font-size: calc(var(--base-font-size)*2);
}
@media only screen and (max-width: 599px) {
  .Article #content h1 {
    margin: 10px 0px 5px 0px;
    font-size: calc(var(--base-font-size)*1.5);
  }
}
.Article #content #text-content div {
  display: inline-block;
}
@media only screen and (max-width: 599px) {
  .Article #content #text-content {
    height: 53px;
    overflow-y: hidden;
  }
}
.Article #content #text-content.expanded {
  height: unset;
}
.Article #content #expand-info {
  font-weight: bold;
  margin: 5px 0;
  color: var(--logo-color);
}
.Article #loader {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin: 0 10px 0 0;
  width: var(--frame-width);
  height: var(--frame-height);
}
@media only screen and (max-width: 599px) {
  .Article #loader {
    margin: 0 0 10px 0;
  }
}
.Article #loader iframe {
  width: var(--frame-width);
  height: var(--frame-height);
}