.Article {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  color: white;
  box-sizing: border-box;
  width: 100%;
  border: 10px;
  padding: 15px;
}
@media only screen and (max-width: 599px) {
  .Article #content *:not(h1) {
    font-size: 8px;
  }
}
.Article #content h1 {
  margin: 0px 0px 20px 0px;
}
@media only screen and (max-width: 599px) {
  .Article #content h1 {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
  }
}
.Article #loader {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  margin-right: 10px;
  --frame-width: 618px;
  --frame-height: 348px;
  width: var(--frame-width);
  height: var(--frame-height);
}
@media only screen and (max-width: 599px) {
  .Article #loader {
    --frame-width: 206px;
    --frame-height: 116px;
  }
}
.Article #loader iframe {
  width: var(--frame-width);
  height: var(--frame-height);
}