@use '../../mixins.scss';

nav {
  background-color: #282c34;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  width: calc(100% - 20px);
  padding: 13px 10px;
  .link {
    transition: color 1s ease-out;
    font-weight: bold;
    font-size: var(--icon-size);
    &:hover {
      color: var(--logo-color);
    }
  }
  .app-logo {
    height: auto;
    width: calc(var(--icon-size) * 2);
  }
  #Apply-link {
    justify-self: center;
  }
  a {
    display:flex;
    margin: 0 8px;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
    text-decoration: none;
    cursor: pointer;
  }
  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .logo-link {
      height: var(--icon-size);
      width: var(--icon-size);
    }
  }
}