#application-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: calc(100% - 40px);
  iframe {
    height: calc(94vh - 80px);
    width: 640px;
    padding: 20px 0;
    background-color: white;
  }
}
