#intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - var(--icon-size) - 2 * 13px);
  --text-font-size: calc(var(--base-font-size)*1.5);
  #guild-name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin: 6% 20%;
    * {
      text-align: center;
    }
    h1 {
      font-weight: bold;
      font-size: calc(var(--base-font-size)*3);
      color: var(--logo-color);
      text-shadow: var(--text-shadow);
    }
    h2 {
      font-size: calc(var(--base-font-size)*2);
      text-shadow: var(--text-shadow);
    }
  }
  .contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
    .social-contact {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
    .logo {
      width: var(--text-font-size);
      height: var(--text-font-size);
      margin: 0px 5px;
      img {
        width: var(--text-font-size);
        height: var(--text-font-size);
      }
    }
  }
  section {
    margin: 0 15%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    font-size: var(--text-font-size);
    text-shadow: var(--text-shadow);
    p {
      margin: 8px;
    }
    label {
      margin-top: 20px;
    }
  }
}
