#intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 94vh;
  #guild-name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin: 6% 20%;
    * {
      text-align: center;
    }
    h1 {
      font-weight: bold;
      font-size: 25px;
    }
    h2 {
      font-size: 13px;
    }
  }
  .contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .contact-logo {
      width: 12px;
      height: 12px;
      margin: 0px 5px;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  section {
    margin: 0 15%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    p {
      margin: 8px;
    }
    label {
      margin-top: 20px;
    }
  }
}
