#intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 94vh;
}
#intro #guild-name {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 5% 20% 5% 20%;
}
#intro #guild-name * {
  text-align: center;
}
#intro #guild-name h1 {
  font-weight: bold;
  font-size: 25px;
}
#intro #guild-name h2 {
  font-size: 13px;
}
#intro section {
  margin: 0 15%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
#intro section p {
  margin: 8px;
}
#intro ul {
  padding-left: 15px;
}