@use 'mixins';

:root {
  --text-color: #F8F8FF;
  --logo-color: #00cfff;
  --icon-size: 20px;
  --text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
  @include mixins.phone-only {
    --base-font-size: 10px;
    --icon-size: 12px;
  }
  @include mixins.tablet-portrait-up {
    --base-font-size: 12px;
  }
  @include mixins.tablet-landscape-up {
    --base-font-size: 14px;
  }
  @include mixins.desktop-up {
    --base-font-size: 16px;
  }
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(./assets/background.jpg); 
  background-color: #4a3f4e;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}